<div class="container">
  <p></p>
  <div>
    Wiki Liabary is a loving community for all wonderful Wikis like you, to put mindful thoughts, great ideas, meaningful opions, and collaborate together. Most importantly we support each other and share laughs in our family.
  </div>
</div>

</br>
</br>
</br>

<div class="container">
  <%= image_tag("communication3.jpg") %>
</div>
