
<h1><%= image_tag("wiki_logo4.jpg", width: '150px') %>  Welcome to Wikis!</h1>
<p>A smart Wiki like you will enjoy the great wiki community, and will have many Wiki friends
  collaborate with you. Sign up, let's start the journey together!</p>
</br>
</br>
</br>
<div class="row">
  <div class="col-md-4">
    <h4>Create</h4>
    <p>Please sign up to start to create your own Wikis.</p>
  </div>

  <div class="col-md-4">
    <h4>Standard</h4>
    <p>By becoming a standard member you can read all Wikis, and it is free!</p>
  </div>

  <div class="col-md-4">
    <h4>Premium</h4>
    <p>Become a Premium member! Just by paying $15 you can have your own private Wikis,
      and get all of the benefits of Standard!</p>
  </div>
  <!--
      <p><a class="btn btn-default" href="#" role="botton">View details &raquo;</a></p>
  -->
</div>
